           /*  */
    @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    :root {
        --primary-text: #4458dc;
        --secondary-text: #854fee;
        --text-white: #fff;
        --text-black: #000;
        --text-gray: #777;

        /* Font Family */
        --primary-font: 'Rubik', sans-serif;
        --secondary-font: 'Roboto', sans-serif;
    }

    body {
        font-family: var(--secondary-font);
        width: 100%;
        background-image: url('../images/body-bg.png.webp');
        background-repeat: no-repeat;
    }

    a {
        text-decoration: none;
    }

    section {
        padding: 5rem 0;
    }

    h1 {
        font-size: 1.2rem;
        line-height: 4.75rem;
        margin: 0 0 0;
    }

    h2 {
        font-weight: 500;
        margin-top: 6rem;
        font-size: 3.2rem;
        line-height: 3.4375rem;
        margin-bottom: 1.5625rem;
        color: var(--text-black);
        font-family: var(--primary-font);
    }

    h3 {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 3.125rem;
        margin-bottom: 0.9375rem;
        color: var(--text-black);
        font-family: var(--primary-font);
        text-transform: uppercase;
    }

    h5 {
        font-size: 3rem;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: #002057;

    }

    h5 span {
        font-size: 2.1rem;
        font-weight: 320;
        color: teal;
    }

    .textcontainer {
        width: 346px;
        margin-top: 1rem;
        margin-left: 0rem;
        overflow: hidden;
    }

    .textcontainer .text {
        position: relative;
        color: teal;
        font-size: 27px;
        font-weight: 400;
    }

    .textcontainer .text.first-text {
        color: #002057;
        font-weight: 450;
        font-size: 40px;
    }

    .text.sec-text:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 200%;
        background-color: white;
        border-left: 3px solid black;
        animation: animate 4s steps(12) infinite;
    }

    @keyframes animate {

        40%,
        60% {
            left: calc(100% + 8px);
        }

        100% {
            left: 0%;
        }
    }

    p {
        color: var(--text-gray);
        font-size: 0.9375rem;
        line-height: 1.625rem;
        font-weight: 400;
    }


    /* 2 Navbar */
    .header_wrapper .navbar {
        padding: 0.0175rem 0;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
        background-color: whitesmoke;
    }

    h1 {
        font-size: 2rem;
    }

    .header_wrapper .navbar-toggler:focus {
        box-shadow: none;
    }

    .header_wrapper .nav-item {
        margin: 0 0.625rem;
    }

    .header_wrapper .nav-item .nav-link {
        font-family: var(--primary-font);
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--text-black);
        display: inline-block;
    }

    .header_wrapper .nav-item .nav-link.active,
    .header_wrapper .nav-item .nav-link:hover {
        color: var(--primary-text);
    }

    .banner_wrapper .col-lg-7 {
        vertical-align: middle;
        align-self: center;
    }

    .about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1.5rem;
        margin-top: -5rem;
    }

    .about-img img {
        max-width: 330px;
        margin-left: 13rem;
        height: auto;
        width: 80%;
        border-radius: 8px;
    }

    .about-text {
        margin-left: -8rem;
    }

    .about-text h4 {
        font-size: 36px;
        font-weight: 600;
        color: var(--text-color);
        line-height: 1.7;
        margin: 15px 0 30px;
    }

    .about-text p {
        color: black;
        font-size: 1.3rem;
        font-weight: 400;
        text-align: justify;
        width: 85%;
    }
    .social-menu ul{
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0;
        margin: 0;
        transform: translate(-50%, -50%);
        display: flex;
        margin-top: 48rem;
    }
    
    .social-menu ul li{
        list-style: none;
        margin: 0 15px;
    }
    
    .social-menu ul li .fab{
        font-size: 30px;
        line-height: 60px;
        transition: .3s;
        color: #000;
    }
    
    .social-menu ul li .fab:hover{
        color: white;
    }
    
    .social-menu ul li a{
        position: relative;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color:white;
        text-align: center;
        transition: .6s;
        box-shadow: 0 5px 4px rgba(0,0,0,.5);
    }
    
    .social-menu ul li a:hover{
        transform: translate(0, -10%);
    }
    
    .social-menu ul li:nth-child(1) a:hover{
        background-color: rgba(0, 0, 0, 0.829);
    }
    .social-menu ul li:nth-child(2) a:hover{
        background-color: #E4405F;
    }
    .social-menu ul li:nth-child(3) a:hover{
        background-color: rgb(13, 158, 231);
    }
    .social-menu ul li:nth-child(4) a:hover{
        background-color: #000;
    }

    @media (max-width:1229px){
        .about-img img {
            max-width: 330px;
            margin-left: 4rem;
            height: auto;
            width: 80%;
            border-radius: 8px;
        }
    }

    @media (max-width:991px) {

        /* 2 Navbar */

        .header-scrolled {
            height: auto;
        }

        .header_wrapper .navbar-collapse {
            margin-top: -0.125rem;
        }

        .header_wrapper .menu-navbar-nav {
            text-align: center;
            background-color: var(--bg-white);
            padding-bottom: 0.9375rem;
        }

        .header_wrapper .nav-item .nav-link {
            margin-top: 0.9375rem;
        }

        .about {
            grid-template-columns: 1fr;
        }

        .about-img {
            text-align: center;
            order: 2;
        }

        .about-img img {
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }

    @media (max-width: 767px) {

        /* custom css */
        section {
            padding: 5rem 0;
        }

        h1 {
            font-size: 2.5rem;
            line-height: 3rem;
        }

        h2 {
            font-size: 1.875rem;
            line-height: 2.375rem;
            margin-top: -46rem;
        }

        h3 {
            font-size: 1.5625rem;
            line-height: 2.1875rem;
            text-align: center;
        }

        .top-right-img {
            margin-top: 19rem;
        }

        /* about */
        .client-info>div {
            justify-content: center;
        }

        .about_wrapper .client-info:before {
            top: 0.25rem;
            left: 2.8125rem;
        }

        .header_wrapper .navbar {
            padding: 0.075rem 0;
        }
        .about-img img {
            max-width: 230px;
            margin-left: 4rem;
            height: auto;
            width: 50%;
            border-radius: 8px;
        }
        .about-text h4{
            margin-left: 20rem;
        }
        .about-text p{
            width: auto;
            padding-inline-start: 9rem;
            padding-inline-end: 1rem;
        }
        .social-menu ul{
            margin-top: 85rem;
        }
    }

    @media (max-width: 575.5px) {

        .blog_wrapper .blog_details {
            position: absolute;
            top: 2.1875rem;
            left: 2.1875rem;
            right: 2.1875rem;
            bottom: 2.1875rem;
        }

        h3 {
            margin-left: 2rem;
        }

        h2 {
            margin-top: -41rem;
        }

        .header_wrapper .navbar {
            padding: 0.075rem 0;
        }

        h1 {
            font-size: 1.5rem;
            margin: 0 0 14px;
        }

        .about-img img {
            max-width: 230px;
            margin-left: 4rem;
            height: auto;
            width: 50%;
            border-radius: 8px;
        }
        .about-text h4{
            margin-left: 13rem;
        }
        .about-text p{
            width: auto;
            padding-inline-start: 9rem;
            padding-inline-end: 1rem;
        }
    }

    @media (max-width: 390px) {

        .banner_wrapper .banner-content h2::after {
            left: 34%;
        }

        h1 {
            font-size: 1.5rem;
            margin: 0 0 14px;
        }

        .top-right-img {
            margin-top: 11rem;
        }

        h3 {
            margin-left: 2rem;
        }

        h2 {
            margin-top: -30rem;
            font-size: 2.4rem;
        }

        h5 {
            font-size: 2.4rem;

            margin-top: -0.5rem;
        }

        h5 span {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .textcontainer {
            margin-top: 0.7rem;
        }

        .header_wrapper .navbar {

            padding: 0 0 0;
        }

        .textcontainer .text.first-text {
            font-size: 2rem;
        }
        .about-text h4{
            margin-left: 11rem;
            margin-top: -7rem;
        }
        .about-text p{
            padding-inline-start:9rem;
            padding-inline-end: 1rem;
        }
        .about{
            margin-left: 2rem;
            margin-right: 1rem;
            
            margin: 0;
        }
        .about-img img {
            max-width: 270px;
            margin-left: 3rem;
            margin-top: -2rem;
            height: auto;
            width: 60%;
            border-radius: 8px;
        }
        .social-menu ul{
            margin-top: 60rem;
        }
        .social-menu ul li a{
            height: 40px;
            width: 40px;
        }
        .social-menu ul li .fab{
            line-height: 45px;
        }
    }


    @media (max-width: 348px) {
        h5 {
            font-size: 2rem;
            margin-top: -0.5rem;
        }

        h5 span {
            font-size: 1.5rem;
            margin-top: 1rem;
        }

        h3 {
            margin-left: 3rem;
        }

        .header_wrapper .navbar-brand img {
            max-width: 2rem;
            height: auto;
        }

        .top-right-img {
            margin-top: 12rem;
        }

        h2 {
            margin-top: -28rem;
        }

        .header_wrapper .navbar {
            padding: 0 0 0;
        }

        h1 {
            font-size: 1.5rem;
            margin: 0 0 14px;
        }
        .about-text h4{
            margin-left: 11rem;
        }
        .about-text p{
            padding-inline-start:9rem;
            padding-inline-end: 1rem;
        }
        .about{
            margin-right: -2rem;
            margin-top: -2rem;
        }
        .about-img img {
            max-width: 270px;
            margin-left: 2.5rem;
            margin-top: -2rem;
            height: auto;
            width: 60%;
            border-radius: 8px;
        }
        .social-menu ul{
            margin-top: 58rem;
            margin-left: 1rem;
        }
        .social-menu ul li a{
            height: 40px;
            width: 40px;
        }
        .social-menu ul li .fab{
            line-height: 45px;
        }

    }

    @media (max-width: 310px) {
        h5 {
            font-size: 1.5rem;
        }

        h5 span {
            font-size: 1rem;
        }

        .header_wrapper .navbar-brand img {
            max-width: 1rem;
            height: auto;
        }

        .top-right-img {
            margin-top: 13rem;
        }

        h3 {
            margin-left: 4rem;
        }

        h2 {
            margin-top: -28rem;
        }

        .header_wrapper .navbar {
            padding: 0 0 0;
        }

        h1 {
            font-size: 1.5rem;
            margin: 0 0 14px;
        }
        .about-text h4{
            margin-left: 10rem;
        }
        .about-text p{
            padding-inline-start:9rem;
            padding-inline-end: 0;
        }
        .about{
            margin-right: -2rem;
            margin-top: -6rem;
        }
        .about-img img {
            max-width: 230px;
            margin-left: 4rem;
            height: auto;
            width: 50%;
            border-radius: 8px;
        }

    }
